@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden;
    width: 100%;
}

.wrapper {
    width: 100%;
    /* NO overflow property here! */
}
/* so you are saying whenever i use overflow x with hidden or any other property other then visible bfc craeted and browser treat that wrapper as a seprate scrollable content right but i am putting everthing in the wrapper section only then earlier why that second scrollbar limited to the herosection why nto for whole page */

.container{
    max-width : 1200px;
    margin: 0 auto;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.name{
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.logo{
    width: 80px;
}
.logo-text{
    margin-left: -1.2rem;
    font-size: 28px;
}
.navlinks{
    display: flex;
    gap: 2rem;
    padding: 0 4em;
}
.nav-item {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    /* here we are using cursor pointer because we want the pointer to be cursor when we hove their so we did it cursor : pointer */
}
.nav-item a{
    text-decoration: none;
    color: black;
}
.nav-item:hover{
    transition: all 0.8s;
    font-weight: bold;
}
.hero-section{

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5rem; */
    margin: 4rem auto;
    padding: 0 1rem 8rem;
    max-width: 1200px;
    height: 602px;
}
.faded-text{
    user-select: none;
    font-size: 7em;
    color: rgb(231,231, 231);
    position: absolute;
    bottom: -16%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
}
.hero-section-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.hero-sec-heading
{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}
.role{
    color: #4e45d5;
    font-weight: 800;
}
.hero-sec-subhead {
    font-size: 40px;
    line-height: 45px;
}
.hero-sec-desc{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}
.button{
    width:fit-content;
    background-color: #e84949;
    padding: 0.8rem 2.3rem;
    cursor: pointer;
    color: white;
    font-size: 18px;
    box-shadow: 5px 5px 7px 0px #0000003f;
    position: relative;
    z-index: 1;
}
.button::before{
    content: "";
    background-color: #1f1f1f;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scalex(0);
    transform-origin: left;
    transition: all 0.8s;
    z-index: -1;
}
.button:hover::before{
    transform: scaleX(1);
}
.hero-section-right{
    position: relative;

}
.absolute{
    position: absolute;
}
.userImage{
    
    z-index: -9;
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;

}
.userImage img{
    height: 318px; ;
    width: 322px ; 
}
@keyframes scaleImage {
    0%{
        filter: grayscale(0);
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
        filter: grayscale(1);
        box-shadow: 3px 3px 10px black;
    }
    100%{
        transform: scale(1);
        filter: grayscale(0);
    }
    
}
.icon-dots{
    z-index: 9;
    bottom: -1rem;
    right: 0;
    animation: dotsanimation 5s linear infinite;
}
@keyframes dotsanimation{
    0%{
        transform: translateY(0px);
    }
    50%
    {
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}
.icon-cube{
    z-index: 9;
    top: -0.8em;
    right: 1em;
    animation: cubeRotate 3s linear infinite;
}
@keyframes  cubeRotate {
    0%{
        transform:rotateX(0deg) translateY(0px) ;
    }
    50%{
         transform:rotateX(180deg) translateY(-12px) ;
    }
    100%{
         transform:rotateX(360deg) translateY(0px) ;
    }
}
.icon-circle{
    z-index: 9;
    left: 0;
    bottom: 0;
    animation: circleTranslate 6s linear infinite;
}
@keyframes circleTranslate {
    0%{
        left:0%;
        bottom: 0%;
    }
    50%{
        left: 5%;
        bottom: 10%;
    }
    100%{
        left: 0%;
        bottom: 0%;
    }
}
.icon-zigzags{
    z-index: 9;
    top: 1.5em;
    left: -0.3em;
    animation: zigzagAnimate 5s ease-in infinite;
}
@keyframes zigzagAnimate {
    0%{
        left:0%;
        top: 0%;
    }
    50%{
        left: 5%;
        top: 2%;
    }
    100%{
        left: 0%;
        top: 0%;
    }
}
.icon-plus{
    z-index: 9;
    top: -0.8rem;
    left: 50%;
    animation: shakeEffectPlus 5s ease-in infinite;
}
@keyframes shakeEffectPlus {
    50%{
        left: 48%;
        top: 3%;
    }
}
.project-section{
    margin-top: 4rem;
    background-color: rgb(231, 231, 231);
}
.project-section-heading{
    padding-top: 30px;
    color: #e84949;
    text-align: center;
    font-size: 90px;

}
.project-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem o;
    display: flex;
    flex-direction: column;
    gap: 120px;
   
}
.project-card{
    width: 90%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow:  0px 0px 40px #1f1f1f;;
}
#project1{
      background-image: url(/assets/projects/Project1.png);
}
/* this project content after is applied to make that background image dulish by applying a layer of the required colour... */
.project-card::after {
  content: "";
  color: #fff;
  position: absolute;
  background: #1f1f1f9a;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(1);
}
.project-card::before {
  content: "";
  color: #fff;
  position: absolute;
  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.4s;
}
.project-card:hover::before {
  transform: scaleX(1);
}
.project-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  padding: 2em;
  bottom: 20%;
  position: absolute;
  z-index: 5;
  transition: all 0.4s;
}
.project-heading {
  font-size: 50px;
  font-weight: bold;
  line-height: 3rem;
}
.project-sub-heading {
  font-size: 16px;
  width: 70%;
  font-style: italic;
}
.button-group {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}
.icon {
  cursor: pointer;
  font-size: 35px;
  transition: all 0.4s;
  color: #fff;
}
.icon:hover {
  color: #e84949;
}
.project-content-left {
  left: 10%;
}
.project-content-right {
  right: 10%;
}
.project-card:hover .project-content {
  scale: 1.1;
}
.project-number {
  position: absolute;
  font-size: 200px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  display: none;
  z-index: 10;
  transition-delay: 1s;
  transition: transform 2s;
}
.project-number-left {
  right: -40px;
  top: -45px;
}
.project-number-right {
  left: -40px;
  top: -45px;
}
.project-card:hover .project-number {
  display: block;
  color: rgb(255, 255, 255);
}
.project-skill-container {
  max-width: 60%;
  width: fit-content;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  transition: all 0.2s;
  border-radius: 5px;
}
.project-skill {
  width: 40px;
}
#project2{
    background-image: url(/assets/projects/Project2.png);
    margin-left: 120px;
}
#project3{
    background-image: url(/assets/projects/Project3.png);
}
#project4{
    background-image: url(/assets/projects/Project4.png);
    margin-left: 120px;
}
.skills-main-container{
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;
    max-width: 1360px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.skill-left-container{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.faded-text-skill{
    font-size: 15em;
    font-weight: 500;
    text-align: right;
    color: rgb(231, 231, 231);
    user-select: none;
    margin-right: -41px;
}
.skill-right-container{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    justify-content: center;
}
.blob-style{
    position: absolute;
    z-index: -5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bolbanimate 3s linear infinite;
}
@keyframes bolbanimate {
    50%{
        top: 54%;
        left: 46%;
    }
}
.skill-logo{
    width: 90px;
    transition: all 0.5s;
}
.skill-logo:hover{
    scale: 1.2;
}
.skill-heading{
    font-size: 50px;
    font: bold;
    color: #e84949;
    line-height: 50px;
}
.caps{
    font-size: 80px;
}
.sub-heading {
    margin-top: 1rem;
    width: 85%;
    text-align: justify;
}
.sub-heading p{
    margin: 15px 0;
}
.contact-us-container{
    width: 100%;
    background-color: rgb(231, 231, 231);
    margin-top: -66px;
}
.contact-us-heading{
    font-size: 5em;
    color: #e84949;
    padding-top: 2rem;
}
.contact-us-subheading{
    font-size: 3rem;
    color: #343d68aa;
    text-transform: capitalize;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin: 2rem 5rem;
}
.contact-us-form{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-field-container{
    width: 100%;
    
}
.form-field{
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    border: none;
    margin-top: 27px;
}
.form-field-textarea{
    height: auto;
    padding-top: 1rem;
}
#sumbit-btn{
    border: none;
    font-size: 1.4rem;
    margin: 1rem 0;
}
#sumbit-btn:hover{
    scale: 0.9;
}
.submit-icon{
    padding: 0 1rem;
    font-size: 1.5rem;
}
footer{
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding: 5rem;
}
.footer-wrapper{
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
}
.footer-faded-text{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #535c87;
    user-select: none;
    font-size: 5em;
}
.link-wrapper{
    display: flex;
    gap: 1.2rem;
}
.link-wrapper div a{
    color: white;
    text-decoration: none;
    transition: all 0.6s;
}
.link-wrapper div a:hover{
    color: #e84949;
}
.icon-wrapper{
    display: flex;
    gap: 1rem;
}